@model Market.ViewModels.ViewModelProduto

@{
    ViewData["Title"] = "AddProduto";
    Layout = "~/Views/Shared/_LayoutAdministrativa.cshtml";
}

@*script dinheiro*@
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>

<script>

</script>

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Cadastro de produto</h3>
    </div>
    <form asp-action="AddProduto" class="form-horizontal" method="post" enctype="multipart/form-data">
        <div class="box-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="col-sm-4">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>

                <div class="col-sm-2">
                    <label asp-for="Valor" class="control-label"></label>
                    <div class="input-group">
                        <span class="input-group-addon">R$</span>
                        <input asp-for="Valor" class="form-control ValorReais" />
                        <span asp-validation-for="Valor" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label asp-for="CategoriaId" class="control-label"></label>
                    <select asp-for="CategoriaId" class="form-control select2" id="categoria" style="width: 100%;"
                            asp-items="@ViewBag.categorias">
                        <option value="0">Selecione Categoria</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <label class="control-label">Medida</label>
                    <select asp-for="TamanhoId" class="form-control select2" style="width: 100%;" id="medida"></select>

                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <label asp-for="Descricao" class="control-label"></label>
                    @*<select asp-for="Descricao" class="form-control select2 chosen-select" multiple="multiple" id="selectInsumos"
                data-placeholder="Selecione os ingredientes" style="width: 100%;" name="descricao"
                asp-items="@(new MultiSelectList(@ViewBag.insumos,"Nome", "Nome"))"></select>*@

                    <select asp-for="Descricao" class="form-control select2 chosen-select" multiple="multiple"
                            id="selectInsumos" data-placeholder="Selecione os ingredientes" style="width: 100%;"
                            name="descricao"></select>
                </div>
            </div>
            
            <div class="form-group">
                    @*aqui é adicionado a quantidade*@
                    <div id="Insumo"></div>

                    @*select serve para mandar para o controller a lista da quantidade dos produtos*@
                    <select name="Quantidade" id="Quantidade" multiple="multiple" hidden></select>          
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <label asp-for="Foto" class="control-label"></label>
                    <input type="file" name="Foto" />
                    <span asp-validation-for="Foto" class="text-danger"></span>
                </div>
            </div>

            <div class="box-footer">
                <button type="submit" value="Create" class="btn btn-info pull-right">Adicionar</button>
            </div>
        </div>


    </form>
</div>


