
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_LayoutAdministrativa.cshtml";
}


<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="~/Script/Carrinho.js"></script>

<script >   
	//Cookies.set('Projeto2', '[{"Id":20,"Nome":"Prato Feito","Valor":12.5,"Quantidade":8,"Imagem":"/images/ImgEmpty/noImg.jpg","Descricao":"Batata Palha, Cebola, Tomate"}]');
</script>

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Checkout</h3>
    </div>

    <div class="box-body">
        <table id="cart" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:50%">Produto</th>
							<th style="width:10%">Preço</th>
							<th style="width:8%">Quantidade</th>
							<th style="width:22%" class="text-center">Subtotal</th>
							<th style="width:10%"></th>
						</tr>
					</thead>
					<tbody id="produto">
						<!-- <tr>
							<td data-th="Product">
								<div class="row">
									<div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
									<div class="col-sm-10">
										<h4 class="nomargin">Product 1</h4>
										<p>Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet.</p>
									</div>
								</div>
							</td>
							<td data-th="Price">R$ 150.00</td>
							<td data-th="Quantity">
								<input type="number" class="form-control text-center" value="1">
							</td>
							<td data-th="Subtotal" class="text-center">150.00</td>
							<td class="actions pull-right" data-th="">							
								<button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>								
							</td>
						</tr> -->
					</tbody>
					<tfoot>
						<tr class="visible-xs">
							<td class="text-center"><strong>Total 1.99</strong></td>
						</tr>
						<tr>
							<td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Comprando</a></td>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center"><strong id="total"></strong></td>														
							<td>
							<!-- @using (Html.BeginForm("FinalizaPedido", "Checkout", FormMethod.Post))
							{
								<input class="btn btn-success btn-block fa fa-angle-right" type="submit" value="Finalizar"/> 
							} -->
							
							<!-- @using (Html.BeginForm("FinalizaPedido", "Checkout", FormMethod.Post))
							{
								<button class="btn btn-success btn-block" type="submit">Finalizar <i class="fa fa-angle-right"></i> </button>

							} -->

							<a asp-controller="Checkout" asp-action="Index" class="btn btn-success btn-block" value="true" id="finaliza" onclick="Checkout()">Finalizar <i class="fa fa-angle-right"></i> </a>

							</td>
						
						</tr>
					</tfoot>
				</table>
    </div>
</div>

