
@{
    ViewData["Title"] = "Teste";
    Layout = "~/Views/Shared/_LayoutAdministrativa.cshtml";
}

<<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Cadastro de clientes</h3>
    </div>

    <div class="box-body">
        asdasdasda
        sda
        sd
        asd
        as



    </div>


</div>
